<ion-header>
    <ion-navbar color="primary">
        <ion-title>
            Web2 blogapp
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>
    
    <div *ngIf="loading" text-center>
        <ion-spinner  ></ion-spinner>
    </div>
    
    <ion-card *ngFor="let post of posts" (click)="openPost(post)">
        
        <ion-card-header>
            {{ post.title }}
        </ion-card-header>
        
        <ion-card-content>
            {{ post.content | truncate: 50 }}
        </ion-card-content>
        
        <ion-row>
            <ion-col right text-right>
                {{ post.user.name }}
            </ion-col>
        </ion-row>
        
        <ion-row>
            <ion-col right text-right>
                <button ion-button icon-left clear small>
                    <ion-icon name="text"></ion-icon>
                    <div>{{ post.comments.length }} komment</div>
                </button>
            </ion-col>
        </ion-row>
    </ion-card>

</ion-content>
